@font-face {
    font-family: KSS;
    src: url(font/KSS.otf);
}

@font-face {
    font-family: coco;
    src: url(font/Coco.ttf);
}

.background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: absolute;
    background-image: url(pic/back4.png);
    background-attachment: fixed;
    box-sizing: border-box;
}

nav {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
    font-family: KSS;
}

nav i {
    position: relative;
    padding-right: 10px;
    color: #F07780;
}

nav ul {
    flex: 1;
    text-align: center;
    padding-right: 30px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a {
    color: #F07780;
    text-decoration: none;
    position: relative;
    font-size: 25px;
    border-radius: 5px;
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: #3E0E09;
    transition: width 0.3s;
}

nav ul li a:hover::after {
    width: 50%;
}

nav ul li a:hover {
    background: #fff6f6;
    color: #3E0E09;
}

nav .reset {
    position: relative;
    border: none;
    border-radius: 30px;
    height: 45px;
    outline: none;
    width: 100%;
    color: white;
    background: #F07780;
    cursor: pointer;
    transition: .3s ;
    padding-left: 20px;
    padding-right: 20px;
    font-family: coco;
    font-size: 20px;
}

.reset:hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.box {
    position: relative;
    padding-left: 23%;
}

.welcome {
    position: relative;
    display: flex;
    justify-content: center;
    padding-right: 1%;
    font-size: 28px;
    font-family: coco;
    color: #F07780;
    width: 800px;
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.875);
    border-radius: 12px;
    text-align: justify;
    box-shadow: 0 1px 13px rgba(0, 0, 0, 0.2);
    margin-bottom: 5.5%;
}

.welcome i {
    padding-right: 10px;
    padding-top: 7px;
}

.call {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.card {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.875);
    border-radius: 12px;
    box-shadow: 0 1px 13px rgba(0, 0, 0, 0.2);
}

.card1 {
    background-image: url(pic/petugas1.png);
}

.card2 {
    background-image: url(pic/petugas2.png);
}

.card3 {
    background-image: url(pic/petugas1.png);
}

.card4 {
    background-image: url(pic/petugas2.png);
}

.call h5 {
    color: #F07780;
    font-family: coco;
    font-size: 15px;
    font-weight: 100;
    padding-top: 107%;
    display: flex;
    justify-content: center;
}
